*{
    margin: 0;
    padding: 0;
}
#page_content{
    display:grid;
    

}
#meet_team{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

#meet_team>article>img{
    height:225px;
    width: 225px;
    
}
#meet_team>article>p{
    display:none
}



#products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.pro_cont{
   margin: 5px;
   ;
}
#products>.pro_cont>img{
    height: 225px;
    width: 225px;
    object-fit: contain;
}


@media  screen and (min-width:600px) {
    #meet_team>article>p{
        display:contents;
    }
    
}
    
